<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.snake"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="17" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/snake_icon"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        
        <activity
            android:name="com.example.snake.MainActivity"
            android:label="@string/app_name" 
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity
            android:name="hiscore.HiScoreActivity"
            android:screenOrientation="portrait"
            android:label="HiScore">
        </activity>
        
         <activity
            android:name="options.OptionsActivity"
            android:screenOrientation="portrait"
            android:label="OPT">
        </activity>
        
        <activity
            android:name="com.example.snake.PlayingActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" 
            android:label="Playing">
        </activity>
        
        <activity
            android:name="hiscore.PopupHiScoreActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Transparent"
            android:label="New Record">
        </activity>
        
    </application>

</manifest>